#kontener
{
    width: 1000px;
margin-left: auto;
margin-right: auto;
}
#tytul
{
background-color: rgb(153, 51, 51);
color: brown;
}
#bok
{

}
#tresc
{

}
#reklama
{

}
#dol
{
    
}